header {
  color: Peru;
  background-color: LemonChiffon;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  font-family: "Poppins";
  display: flex;
}

header a {
  font-family: "Poppins";
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: darkgray;
}

header li {
  list-style: none;
}

section {
  text-align: center;
  margin: auto 25%;
}

footer {
  background-color: LemonChiffon;
  display: flex;
  font-family: "Poppins";
  text-align: center;
  flex-direction: column;
}

.form {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 2px;
  text-align: center;
}
