header {
  color: Peru;
  background-color: LemonChiffon;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  font-family: "Poppins";
  display: flex;
}

header a {
  font-family: "Poppins";
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: darkgray;
}

header li {
  list-style: none;
}
#inicio img {
  height: 200px;
  width: 300px;
}

section {
  margin: auto 25%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}

section li {
  list-style: none;
}
#sobremesa {
  margin: auto 25%;
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  margin: 20px;
}

#sobremesa img {
  height: 200px;
  width: 450px;
}

#almoco {
  margin: auto 25%;
  display: flex;
  flex-direction: row;
  font-family: "Poppins";
  margin: 40px;
  padding: 40px;
  align-items: center;
}

#almoco img {
  height: 200px;
  width: 300px;
}
footer {
  background-color: LemonChiffon;
  margin-top: auto;
  font-family: "Poppins";
  text-align: center;
  flex-direction: column;

  bottom: 0;
  left: 0;
  width: 100%;
}

.form {
  padding: 15px;
  border-radius: 2px;
  text-align: center;
}
